@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

:root {
  --font-family: "Sen";
  --purple: 94, 40, 215;
  --pink: 217, 54, 122;
  --gradient: linear-gradient(90deg, rgba(var(--purple)), rgba(var(--pink)));
  --gradient90: var(--gradient);
  --gradientHalf: linear-gradient(90deg, rgba(var(--purple)) 50%, rgba(var(--pink)));
  --gradientThreeQuarters: linear-gradient(90deg, rgba(var(--purple)) 75%, rgba(var(--pink)));
}

* {
  font-family: var(--font-family);
}

.container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container__constraint {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 600px;
}
