@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 1000px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.wrapper {
  --radius: 8px;
  animation: glow 5s infinite;
  background-image: linear-gradient(90deg, rgb(var(--purple)) 0%, rgb(var(--pink)) 50%, rgb(var(--purple)) 100%);
  border-radius: 8px;
  padding: 5px;
}

.content {
  background-color: #fff;
  border-radius: calc(var(--radius) / 2);
  padding: 20px;
}
