p {
  font-size: 32px;
}

.gradient-underline {
  background-image: linear-gradient(65deg, rgb(var(--purple)), rgb(var(--pink)));
  background-size: 0 5px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-size 0.2s ease;
}

.gradient-underline:hover {
  background-size: 100% 5px;
}
