p {
  font-size: 32px;
}

.gradient-underline {
  background-image: linear-gradient(65deg, red, blue);
  background-size: 0 5px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  cursor: pointer;
  font-weight: bold;
  transition: background-size 0.2s ease;
}

.gradient-underline:hover {
  background-size: 100% 5px;
}
